<li class="dropdown">  
  <% if signed_in? %>
	<a href="#"
      class="dropdown-toggle"
      data-toggle="dropdown">
      <%= current_user.user_name %>
      <b class="caret"></b>
	</a>
	<ul class="dropdown-menu">
  	<li>
  		<%= link_to "Sign out", signout_path, method: "delete" %>
  	</li>
	</ul>
  <% else %>
  <a href="/login">Log in</a>
  <% end %>
</li>